<%- include('partials/header') -%>
<form action="/report/<%=report_id%>/edit" method="post"  class="background bg" >

    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name ="title" value="<%=title%>" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description"  rows="7">
            <%=description%>
        </textarea>
    </div>
    <br>
    <button class="btn btn-success btn-align-right" type="submit">Edit</button>
</form>

<script src="/script.js"></script>